services:
    laravelapp:
        container_name: laravelapp
        image: francescoxx/laravelapp:1.0.3
        build : .
        ports:
            - "8000:8000"
        depends_on:
            - db

    db:
        container_name: db
        image: postgres:latest
        ports:
            - "5433:5432"
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 123
            POSTGRES_DB: postgres
        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: {}
