.userName {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 20px 0;
}

.productMain {
    display: flex;  
    margin-top: 20px;
    
}

.div-main {
    border: 1px solid;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
    margin: 0 10px 0 0;
}

.img-lolo {
    width: 100px;
    
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    display: flex;
    flex-direction: column;

    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.modal-content input {
    margin-bottom: 20px;
    padding: 10px;
}

.add {
    padding: 10px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.closeId {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    
}

.close:hover,
.close:focus,
.closeId:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}